doctype html
html
    head
        meta(charset='utf-8')
        title Blog
        meta(name='author', content='yaz')
        meta(name='viewport', content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/home-page.css')
        script(src="/node_modules/jquery/dist/jquery.min.js")
    body
        block content
